* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.gallery {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: repeat(4, calc(100px - 0.25rem / 2));
  grid-template-rows: repeat(6, calc(100px - 0.25rem / 2));
}

.gallery img {
  aspect-ratio: 1;
  object-fit: cover;
  grid-column: span 2;
  clip-path: path(
    "M 80 20 C 100 0 100 0 120 20 C 140 40 160 60 180 80 C 200 100 200 100 180 120 C 160 140 140 160 120 180 C 100 200 100 200 80 180 C 60 160 40 140 20 120 C 0 100 0 100 20 80 Z"
  );
  transition: filter 0.5s, clip-path 0.5s;
  border-radius: 0.5rem;
  border: 1px solid #46b077;
}

.gallery img:nth-of-type(3),
.gallery img:nth-of-type(6) {
  grid-column: 2 / span 2;
}

.gallery img:hover {
  z-index: 100;
  clip-path: path(
    "M 0 0 C 100 0 100 0 200 0 C 200 50 200 50 200 80 C 200 100 200 100 200 120 C 200 150 200 150 200 200 C 100 200 100 200 0 200 C 0 150 0 150 0 120 C 0 100 0 100 0 80 Z"
  );
}

.gallery img:not(:hover) {
  animation: zIndexHack 0.5s;
}

@keyframes zIndexHack {
  0%,
  100% {
    z-index: 10;
  }
}

.gallery:hover > img {
  filter: brightness(1) saturate(0.5) blur(1px) hue-rotate(-0.25turn);
}

.gallery > img:hover {
  filter: brightness(1) saturate(1.5);
}
